.counter-list{
    border-radius: 5px;
    margin:3% 0;
    padding: 10px 0;
    padding-left: 6% !important;
    box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12);
}
.counter-list p:first-child{
    text-align: center;
    font-size: 14px;
}