.counter{
    margin:15px 0;
    display: flex;
    align-items: center;
   
}
 hr{
    width: 94%;
    margin-top:2px;
    margin-bottom:2px;
    margin-right: 30%

    
    
}
/* .counter .less p, .counter .more p{
    font-size: 20px;
    margin-top:-5px;
} */
.counter input{
    margin-top: 0px;
} 
@media only screen and (max-width:425px){
    hr{
        width:100%;
       
    }
}
@media only screen and (min-width:426px) and (max-width:768px){
    hr{
        width:90%;
       
    }
}
.counter-name{
    display: flex;
    align-items: center;
}
.counter-name p{
  
    margin: 0;
    font-size: 14px;
    color:#333;
}
.delete{
    box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2),
    0px 4px 5px 0px rgba(0,0,0,0.14),
    0px 1px 10px 0px rgba(0,0,0,0.12);
    background: white;
    color:#333;
    font-weight:bolder;
    text-align: center;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-color: #f1f1f1;
    border:none;
    
}
.delete img{
    margin-top:-7px;
    width: 100%;
}
.counter-name{
    display: flex;
    flex-direction: row;
 
}
.dot{
 
    margin-right: 10px;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background: #333;

}
