.main-container{
    position: relative;
    border-radius: 5px; 
    background-color: rgba(255,255,255,0.25);
    
    padding: 0rem 1rem 0 0;
    justify-items: center;
    align-items: flex-end;
    display: flex;
    box-sizing: content-box;
  
}
.container-icon{
    height: 100%;
    pointer-events: none;
    margin-left: .5rem;
    margin-right: .5rem;
}
.delete-icon img{
    cursor: pointer;
    height: 13px;
    width: 13px;
    margin-bottom:5px;
}
.search-bar .col-8 .main-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
   
}