.main-container{
    position: relative;
    border-radius: 5px; 
    background-color: rgba(255,255,255,0.25);
    
    padding: 0rem 8px 0 0;
    justify-items: center;
    align-items: flex-end;
    display: flex;
    box-sizing: content-box;
  
}
.container-icon{
    height: 100%;
    pointer-events: none;
    margin-left: 5px;
  
}
.delete-icon img{
    cursor: pointer;
    height: 13px;
    width: 13px;
    margin-bottom:5px;
}
.search-bar .col-7 .main-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
   
}

@media only screen and (max-width:425px){

::-webkit-input-placeholder {
   
    font-size: 14px;
  }
  ::-moz-placeholder {
  
    font-size: 14px;
  }
  :-ms-input-placeholder {
   
    font-size: 14px;
  }
  ::placeholder {
   
    font-size: 14px;
  }
}