
.counterlist{
   
    padding-left: 7px;
}
.filter-addcounter{
    padding-right:7px;
}
.counter-list, .filter-bar{
    margin-top: 14px;
}
@media only screen and (max-width:425px) {
    .counterlist{
        padding-left:15px;
    }
    .filter-addcounter{
        padding-right: 15px;
    }
    .filter-bar{
        margin-top: 10px;
      
    }
    .counter-list{
        margin-top: 0px;
    }
}